body {
    background-color: rgb(173, 216, 230);
}

.top {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: end;
}

.top h2 {
    font-size: 32px;
    font-family: "Libre Franklin", sans-serif;
}

.heading2 {
    display: flex;
    justify-content: center;
    align-items: end;
}

.heading2 h3 {
    font-family: "Libre Franklin", sans-serif;
}

.yourbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


#darker {
    background-color: green;
}

.yourbuttons button {
    height: 156px;
    width: 231px;
    font-family: "Libre Franklin", sans-serif;
    border-radius: 20px;
    background-color: lightgreen;
}


.scores {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.scores div {
    width: 25%;
}

.scores div.uscore {
    display: flex;
    justify-content: center;
}

.scores div.cscore {
    display: flex;
    justify-content: center;
}

.fa{
    opacity:0.5;
}

